.build/
build/
!apps/desktop/build/
!apps/desktop/build/**
dist/
dist-electron/
release-dist/
node_modules/
packages/*/dist/
apps/*/dist-renderer/
apps/*/dist-electron/
.DS_Store
*.xcuserstate
DerivedData/
